Django==5.0.9
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.3
psycopg2-binary==2.9.9
celery==5.4.0
redis==5.0.8
django-celery-beat==2.7.0
django-storages[s3]==1.14.4
boto3==1.35.36
Pillow==10.4.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
rembg==2.0.59
onnxruntime==1.19.2
imagehash==4.3.1
requests==2.32.3
gunicorn==23.0.0
python-dotenv==1.0.1
whitenoise==6.7.0
drf-spectacular==0.27.2
